<div data-spy="scroll" data-bs-target="#scroll-spy">
  <div class="frame7">
    <div class="recipe">
      <div>
        <h2>Agregar Receta</h2>
      </div>
      <div>
        <img src="./assets/imageRegister.png">
      </div>
      <form [formGroup]="formRecipe" (ngSubmit)="onRegister()" #myFormRecipe="ngForm">
        <div>
          <input class="nameRecipe form-control" placeholder="Ingrese el título de la receta " formControlName="recipeName" type="text">
        </div>

        <div>
          <h6> Categoría </h6>
          <input type="radio" name="" >
          <label>Desayuno</label>
          <input type="radio" name="" >
          <label>Almuerzo</label>
          <input type="radio" name="" >
          <label>Cena</label>
        </div>

        <div>
          <h6> Dificultad </h6>
          <input type="radio" name="" >
          <label>Fácil</label>
          <input type="radio" name="" >
          <label>Medio</label>
          <input type="radio" name="" >
          <label>Difícil</label>
        </div>

        <div class="card">
          <div class="container">
            <label class="labelPrin"> Ingredientes </label>
            <div class="row">
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                   <label for="precio" class="my-1">Ingredientes</label>
                   <select class="form-select select">
                     <option selected disabled>Seleccione el producto </option>
                     <option  *ngFor="let doc of ingredientes" [value]="doc.id">{{doc.descripcion}}</option>
                   </select>
                </div>
              </div>
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label class="label" class="my-1">Cantidad</label>
                  <input type="number" min="0" autocomplete="on" step="1" class="form-control mt-2 mb-4">

                </div>
              </div>

              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1">Unidad</label>
                  <input type="text" class="form-control mt-2 mb-4" id="precio" placeholder="">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1">Tiempo Preparación</label>
                  <input type="text" class="form-control mt-2 mb-4"  placeholder="">
                </div>
              </div>
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1">Unidad de Tiempo</label>
                  <select class="form-select select">
                    <option selected disabled>Seleccione Unidad </option>
                    <option  *ngFor="let doc of time" [value]="doc.id">{{doc.descripcion}}</option>
                  </select>
                </div>
              </div>

              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1">Porciones</label>
                  <input type="text" class="form-control mt-2 mb-4"  placeholder="">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card">
          <div class="container">
            <div class="row">
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1"> </label>
                  <input type="text" class="form-control mt-2 mb-4"  placeholder="1">

                </div>
              </div>
              <div class="col col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <label for="precio" class="my-1">Pasos</label>
                  <input type="text" class="form-control mt-2 mb-4"  placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttSpace">
          <button [disabled]="myFormRecipe.invalid" type="submit">Agregar</button>
          <button type="button" (click)="close()">Cancelar</button>
        </div>


      </form>
    </div>

  </div>
</div>
