<div class="feature-box">
  <div class="feature-image">
      <img class="img-fluid blur-up lazyload" src="assets/images/landing-page/main-features/demo.png" alt="img">
  </div>
  <div class="feature-content">
      <ul class="color-varient">
          <li class="red"></li>
          <li class="orange"></li>
          <li class="green"></li>
      </ul>
      <h6>{{product.name}}</h6>
  </div>
  <p class="para">Multikart is a clean and morfern responsive template.it will perfectly suit for any type of online store</p>
</div>

