<div class="about-us">
    <!-- <app-card-ourteam [path]="'/assets/imgNatalia.png'",[namePerson]="'Natalia'",[rol]="'Frontend'",[text]="'/Más información'"></app-card-ourteam> -->
    
    <div class="row" style="padding-top:50px;">
        <div class="col-4" style="text-align: center;">
            <img class="image-profile" src="/assets/imageLogin.png" alt="">
        </div>

        <div class="col-8" style="padding-right:10% ;">
            <span class="title1">Margren </span>
            <span class="title2">Marketplace</span><br>
            <div  style=" text-align: center;">
            <span class="subtitle1">Cada </span>
            <span class="subtitle2">producto</span>
            <span class="subtitle1">, tiene una historia</span> <br>
            </div>

            <div  style="margin-top: 30px;  text-align: center;">
                <span class="subtitle1">¿Quiénes </span>
                <span class="subtitle2">somos?</span><br>
            </div>
        
         <br><p class="paragraph">Somos un grupo de emprendedores, pretendemos aportar al desarrollo económico de la región, contribuyendo al dinamismo en los pequeños mercados de orígen natural y orgánico. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate id est laborum.
        </p><br>
        </div>

    </div>
</div>

