.bg-primary{
background-color: #30C786 ;
}

$primary: #30C786;

.dashboard-card{

  height: 103px;
  backdrop-filter: blur(2px);
  border-radius: 5px;
  padding: 20px;
  color: white;
  border: 1px black;
}

.dashboard-card1{
  background-color: #30C786;
}

.dashboard-card2{
  background-color: #47CD94;
}

.dashboard-card3{
  background-color: #5ED4A1;
}

.dashboard-card4{
  background-color: #75DAAF;
}
