<div data-spy="scroll" data-bs-target="#scroll-spy">
  <div class="frame5">
    <h1>Productos</h1>
    <p>Sección donde encontrarás los productos que se han agregado...</p>

    <!-- Contenedor: Tarjetas -->
    <div class="row">

        <!-- Contenedor: Tarjeta total productos -->
        <div class="col-12 col-md-3 p-2 ">
            <div class="dashboard-card dashboard-card1 ">
                Total productos<br>
                <h3>{{ products.length }} unidades</h3>
            </div>
        </div>



        <!-- Contenedor: Tarjeta precio total neto-->

        <div class="col-12 col-md-3 p-2">
            <div class="dashboard-card dashboard-card2 ">

                Precio total neto<br>
                <h3>{{calculatenetPrice()|currency}}</h3>
            </div>
        </div>


        <!-- Contenedor: Tarjeta producto con más unidades -->
        <div class="col-12 col-md-3 p-2">
            <div class="dashboard-card dashboard-card3 ">


            Producto con más unidades<br>
            <!-- <h3>Producto 1</h3> -->
            <h3>{{calculateProductMoreUnits().name}}</h3>


            </div>
        </div>



        <!-- Contenedor: Tarjeta producto con menos unidades -->
        <div class="col-12 col-md-3 p-2">
            <div class="dashboard-card dashboard-card4 ">

            Producto con menos unidades<br>
            <!-- <h3>Producto 7</h3> -->
            <h3>{{calculateProductMinUnits().name}}</h3>


            </div>

        </div>


    </div>
    <!-- ./Contenedor: Tarjetas -->

    <!-- Contenedor: Tabla productos -->
    <div class="card">

        <!-- Contenedor: Cabecera -->
        <div class="card-header">
            <div class="row">
                <div class="col-9">
                    <button type="button" class="btn btn-primary button-principal" (click)="openProductCreator()">
                        <i class="fa fa-plus"></i>
                        Agregar producto
                    </button>
                </div>
                <div class="col-3">
                    <input class="form-control" [(ngModel)]="searchText" (keyup)="filterProducts()"
                        placeholder="Buscar producto..." type="text">
                </div>
            </div>
        </div>

        <!-- Contenedor: Tabla -->
        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Unidad</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.categoryId }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.amount }}</td>
                        <td>{{ product.unit }}</td>
                        <td style="text-align: center;">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button type="button" class="btn btn-outline-primary" (click)="openProductEditor(product)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger"
                                    (click)="removeProduct(product, modalProductEliminator)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ./Contenedor: Tabla -->

    </div>
    <!-- ./Contenedor: Tabla productos -->

    <!-- Modal: Eliminador de productos -->
    <ng-template #modalProductEliminator let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Eliminar producto</h4>
            <button type="button" class="btn-close" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <p>¿Está seguro de eliminar el producto?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close(false)">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="modal.close(true)">Aceptar</button>
        </div>
    </ng-template>
  </div>
</div>
