nav{
  position:absolute;
  display: flex;
  top: 75px;

}

li{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  color: #253D4E;
}
.img2{
  padding-top: 2px;
  height: 42px;
}
img{
  height: 40px;
}

