.copy{
  position:absolute;
  align-items: center;
  position:absolute;
  top: 350px;
  left: 700px;
  display: flex;

  border-top: 0.5px solid #939393;
}
b{
  color: #27CA7D;
}
p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
