.copy{
  position:absolute;
  align-items: center;
  top: 90%;
  left: 700px;
  display: flex;
}
b{
  color: #27CA7D;
}
p{
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
