.title{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    /* identical to box height */

    color: #19C179;
}

.nolonContainer{
    display: flex;
    flex-direction: row;
    width: 155px;
    height: 60px;
    /* Inside auto layout */
    
    order: 0;
    flex-grow: 0;
}
.frame11{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 65px;


    width: 223px;
    height: 63px;
    left: 34px;
    top: 16px;
}

img{
    width: 50px;
}