.inputText{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    gap: 12px;

    width: 419.5px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #D4EEE2;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
