<div data-spy="scroll" data-bs-target="#scroll-spy">
  <body>
    <div class="frame1">
      <div class="log">
        <h2> Login </h2>
        <img src="./assets/imageLogin.png">
        <form>
          <div>
            <input class="email" type="email" name="email" placeholder="Email">
          </div>

          <div>
            <input class="password" type="password" name="password" placeholder="Passsword">
          </div>

        </form>
        <div>
          <button type="submit"> Ingresar </button>
        </div>
        <div>
          <p>¿No tienes cuenta? Registrate <a href="#"> Aquí </a> </p>
        </div>

      </div>
    </div>
  </body>
</div>
