<div class="col col-sm-4 col-md-4 col-lg-4">7
  <div class="form-group">
    <a class="btn btn-primary" (click) ="agregarIngredientes2()" )> Agregar Ingrediente </a>
  </div>

  <div formArrayName="ingredientes2" *ngFor="let ingredien of ingredientes2.controls; let i = index">
    <div [formGroupName]="i" ]>
      <div class="form-group row">
        <label class="col-md-1" [attr.for]= "'ingredient' + i">
          Ingredientes
        </label>
        <div class="col-md-3">
          <input type="text" [attr.id]="'ingredient' + i" class="form-control" formControlName="ingredients">
        </div>
        <label class="col-md-1" [attr.for]="'cantidad' + i"> Cantidad </label>
        <div class="col-md-5">
          <input type="number" [attr.id]="'cantidad' + i" class="form-control" formControlName="cantidad">
        </div>
        <label class="col-md-1" [attr.for]="'unitofmeasure' + i"> Unidad de Medida </label>
        <div class="col-md-6">
          <input type="number" [attr.id]="'unitofmeasure' + i" class="form-control" formControlName="unitofmeasure">
        </div>
        <div>
          <button class="btn btn-danger" (click)="removerIngredientes2(i)"> Remover </button>
        </div>
      </div>
    </div>
  </div>
</div>
