<div class="recipeViewSteps">


    <div class="row">

        <p class="tittleRecipe">{{recipe.nameRecipe}}</p>
       

        <div class="col-6">

            <p class="subtitleRecipe">Ingredientes</p>
            <ul style="display: flex;list-style: none;justify-content: center;" >
                
                    <div>
                        <li *ngFor="let ing of recipe.ingredients" style="display: flex; text-decoration: none;" >
                            <label class="textRecipe" for="">{{ing["name"]}}</label>
                            <p>.............................</p>
                            <label class="textRecipe" for="">{{ing["quantity"]}}</label>
                            <label class="textRecipe" for="">{{ing["metric"]}}</label>
                        </li>
                    </div>

                
            </ul>
        </div>

        <div class="col-6">
            
                <div>
                    <li *ngFor="let tim of recipe.time" style="list-style: none;">
                        <div>
                            <label class="textTime">Tiempo total</label>
                            <label class="textTimeValues" for="">{{tim["value"]}} {{tim["metricTime"]}}</label> <br>
                            <label class="textTime">Cantidad de personas</label>
                            <label class="textTimeValues" >{{recipe["quantityPerson"]}}</label> <br>
                         </div>
                    </li>
                </div>

          
        </div>
    </div>

    <div class="row">
        <div class="col-12" >
            <p class="subtitleRecipe">Pasos</p>
            <div class="scrollBar">
                <ul>
                    <div style="display: flex;">
                        <li class="stepsLi" *ngFor="let step of recipe.steps" style="list-style: none;">
                            <span class="textTime"> {{step["idStep"]}}</span> <br>
                            <span class="textTime"> {{step["description"]}}</span>
                        </li>
                    </div>
                <button class="bntShowInfo">Atrás</button> <br>
            </ul>
        </div>
     </div>
     </div>
</div>
