<div class="container">
  <div class="product">
    <div id="contenedorImg">
      <h2>Usuario</h2>
      <img src="./assets/imageRegister.png">
    </div>
    <div class="contenedorInputs">
      <app-label [nameInfo]="'Nombres'"></app-label>
      <app-label [nameInfo]="'Apellidos'"></app-label>
      <app-label [nameInfo]="'Tipo de Documento'"></app-label>
      <app-label [nameInfo]="'Número de Documento'"></app-label>
      <app-label [nameInfo]="'Ciudad'"></app-label>
      <app-label [nameInfo]="'Dirección'"></app-label>
      <app-label [nameInfo]="'Celular'"></app-label>
      <app-label [nameInfo]="'E-mail'"></app-label>
      <app-label [nameInfo]="'Dirección'"></app-label>
      <app-label [nameInfo]="'Fecha de Nacimiento'"></app-label>
    </div>
    <div class="buttUpdate">
      <button  type="submit">Actualizar</button>
      <button type="button">Cancelar</button>
    </div>

  </div>
</div>

