<div>
  <a href="https://www.facebook.com" title="Facebook" target="_blank">
    <img src="./assets/18px-facebook.png" alt="Icon Facebook">
  </a>
  <a href="https://www.instagram.com" title="Instagram" target="_blank">
    <img src="./assets/18px-instagram.png" alt="Icon Facebook">
  </a>
  <a href="https://www.twitter.com" title="Twitter" target="_blank">
    <img src="./assets/18px-twitter.png" alt="Icon Facebook">
  </a>
  <a href="https://www.youtube.com" title="Youtube" target="_blank">
    <img src="./assets/18px-youtube.png" alt="Icon Facebook">
  </a>
  <a href="https://www.whatsapp.com" title="Whatsapp" target="_blank">
    <img src="./assets/18px-whatsapp.png" alt="Icon Facebook">
  </a>
</div>
