nav{
  position:absolute;
  top: 70px;
  left: 885px;
  display: flex;
}

li{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 200px;
  height: 50px;
  color: #253D4E;
}
a{
  display: block;
  padding: 0.25rem 1rem;

  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #939393;

}
