<div data-spy="scroll" data-bs-target="#scroll-spy">
  <div class="frame3">
    <div class="containerRegisterForm">
      <form>
          <app-register-title></app-register-title>
          <img src="/assets/imageRegister.png" alt="">
          <app-input-text [name]="'Nombre'"></app-input-text>
          <app-input-text [name]="'Apellidos'"></app-input-text>
          <app-tipe-document></app-tipe-document>
          <app-input-text [name]="'N° Documento'"></app-input-text>
          <app-input-text [name]="'E-mail'"></app-input-text>
          <app-input-text [name]="'Contraseña'"></app-input-text>
          <app-input-text [name]="'Confirmar Contraseña'"></app-input-text>
      </form>
      <div>
        <button type="submit"> Ingresar </button>
      </div>
    </div>
  </div>
</div>



